@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
.padded {
  padding: 0 10%;

  @media (max-width: 768px) {
    padding: 0 5%;
  }
}
.playfair {
  font-family: "Playfair Display";
}

/* buttons */
.btn1 {
  color: #555555;
  background: transparent;
  border: 1px solid #06d666;
  outline: none;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background: #06d666;
    color: #fff;
    cursor: pointer;

    a {
      color: #fff;
    }
  }
}

.btn2 {
  color: #fff;
  background: #06d666;
  border: 1px solid #06d666;
  outline: none;
  font-weight: 500;
  transition: background-color 0.3s ease;

  a {
    color: #fff;
  }

  &:hover {
    background: transparent;
    color: #06d666;
    cursor: pointer;

    a {
      color: #06d666;
    }
  }
}

.btn3 {
  color: #fff;
  background: crimson;
  border: 1px solid crimson;
  outline: none;
  font-weight: 500;
  transition: background-color 0.3s ease;

  a {
    color: #fff;
  }

  &:hover {
    background: transparent;
    color: crimson;
    cursor: pointer;

    a {
      color: crimson;
    }
  }
}

.h1 {
  @apply text-6xl xl:text-[4rem] xl:leading-[5rem] tracking-[-2px] font-bold;
}

.subtitle {
  @apply text-lg font-light;
}
.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 text-secondary hover:text-primary transition-colors duration-300 ease-in-out cursor-none;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
}

.glow-text {
  text-shadow: 0 0 5px theme("colors.primary"), 0 0 10px theme("colors.primary"),
    0 0 15px theme("colors.primary");
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 1.5s ease-out;
}
